<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="angular-template.ZPM">
    <Module>
      <Name>angular-template</Name>
      <Version>0.3.0</Version>
      <Description>Full Stack Application Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>.</SourcesRoot>
      <Dependencies>
        <ModuleReference>
          <Name>isc.ipm.js</Name>
          <Version>^1.1.2</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>isc.rest</Name>
          <Version>^1.2.1</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>git-source-control</Name>
          <Version>^2.3.0</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>isc.codetidy</Name>
          <Version>^1.1.5</Version>
        </ModuleReference>
      </Dependencies>

      <!-- Application codebase -->
      <Resource Name="AngularTemplate.PKG" Directory="cls" />
      <Resource Name="AngularTemplate.Installer.CLS" Preload="true" Directory="cls" />

      <!-- Angular Application -->
      <Resource Name="/ng/app" ProcessorClass="pkg.isc.ipm.js.angular.processor" baseHref="/${namespace}" />

      <!-- Angular Application - Web Application -->
      <CSPApplication Url="/${namespace}"
        DispatchClass="pkg.isc.ipm.js.angular.pathLocationHandler"
        SourcePath="/ng/app/dist/app"
        DeployPath="${cspdir}${namespace}/angular-template"
        ServeFiles="1" Recurse="1" ServeFilesTimeout="0" Generated="true" />

      <!-- REST - Web Application -->
      <CSPApplication Url="/${namespace}/api"
        DispatchClass="AngularTemplate.rest.Handler"
        Recurse="1" PasswordAuthEnabled="1" UnauthenticatedEnabled="0"
        Generated="true" />
      
      <!-- OpenAPI Generation -->
      <Resource Name="/api/openapi.json"
        ProcessorClass="pkg.isc.ipm.js.openApiProcessor"
        DispatchClass="AngularTemplate.rest.Handler"
        Url="/${namespace}/api" BaseUrl="/api"
        TargetFolder="/ng/app/src/app/generated"
        Generator="typescript-angular"
        AdditionalProperties="paramNaming=original,queryParamObjectFormat=key,useSingleRequestParameter=true,ngVersion=13.3.4" />

      <Invoke Class="AngularTemplate.Installer" Method="SetCSSToUTF8" />
      <Invoke Class="AngularTemplate.Installer" Method="AddCodeDBReadForStaticFiles">
        <Arg>/${namespace}</Arg>
        <Arg>#{..Name}</Arg>
      </Invoke>
      <Invoke Class="AngularTemplate.Installer" Method="SetupCodeTidy" />
      <Invoke Class="AngularTemplate.Installer" Method="ApplySecurityChanges">
        <Arg>/${namespace}</Arg>
        <Arg>#{..Name}</Arg>
      </Invoke>
      <Invoke Class="AngularTemplate.Installer" Method="RemoveSecurityChanges" Phase="Unconfigure">
        <Arg>#{..Name}</Arg>
      </Invoke>
      <LifecycleClass>pkg.isc.ipm.js.openApiModule</LifecycleClass>
      <Defaults>
        <ProcessorDefault Class="Default.Include">
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="Default.Class">
          <Attribute Name="FilenameExtension">cls</Attribute>
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="Default.Package">
          <Attribute Name="FilenameExtension">cls</Attribute>
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="UnitTest">
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
      </Defaults>
    </Module>
  </Document>
</Export>