<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="angular-template.ZPM">
    <Module>
      <Name>angular-template</Name>
      <Version>0.1.0</Version>
      <Description>Full Stack Application Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>.</SourcesRoot>
      <Dependencies>
        <ModuleReference>
          <Name>isc.ipm.js</Name>
          <Version>^1.1.2</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>isc.rest</Name>
          <Version>^1.2.1</Version>
        </ModuleReference>
                <ModuleReference>
          <Name>git-source-control</Name>
          <Version>^2.3.0</Version>
        </ModuleReference>
      </Dependencies>
      <Resources>


        <!-- Application codebase -->
        <Resource Name="AngularTemplate.PKG">
          <Attribute Name="Directory">cls</Attribute>
        </Resource>
        <Resource Name="AngularTemplate.Installer.CLS" Preload="true">
          <Attribute Name="Directory">cls</Attribute>
        </Resource>
        <Resource Name="/ng/app" ProcessorClass="pkg.isc.ipm.js.angular.processor">
          <Attribute Name="baseHref">/${namespace}</Attribute>
        </Resource>
        <Resource Name="/ng/app/dist/app" ProcessorClass="CSPApplication" Generated="true">
          <Attribute Name="DispatchClass">pkg.isc.ipm.js.angular.pathLocationHandler</Attribute>
          <Attribute Name="Directory">${cspdir}${namespace}/angular-template</Attribute>
          <Attribute Name="Url">/${namespace}</Attribute>
          <Attribute Name="ServeFiles">1</Attribute>
          <Attribute Name="Recurse">1</Attribute>
          <Attribute Name="ServeFilesTimeout">0</Attribute>
        </Resource>
        <Resource Name="/angular-template/api" ProcessorClass="CSPApplication" Generated="true">
          <Attribute Name="DispatchClass">AngularTemplate.rest.Handler</Attribute>
          <Attribute Name="Url">/${namespace}/api</Attribute>
          <Attribute Name="Recurse">1</Attribute>
          <Attribute Name="PasswordAuthEnabled">1</Attribute>
          <Attribute Name="UnauthenticatedEnabled">0</Attribute>
        </Resource>
        <Resource Name="/api/openapi.json" ProcessorClass="pkg.isc.ipm.js.openApiProcessor">
          <Attribute Name="DispatchClass">AngularTemplate.rest.Handler</Attribute>
          <Attribute Name="Url">/${namespace}/api</Attribute>
          <Attribute Name="BaseUrl">/api</Attribute>
          <Attribute Name="TargetFolder">/ng/app/src/app/generated</Attribute>
          <Attribute Name="Generator">typescript-angular</Attribute>
          <Attribute Name="AdditionalProperties">paramNaming=original,queryParamObjectFormat=key,useSingleRequestParameter=true,ngVersion=13.3.4</Attribute>
        </Resource>
      </Resources>
      <Invoke Class="AngularTemplate.Installer" Method="SetCSSToUTF8" />
            <Invoke Class="AngularTemplate.Installer" Method="AddCodeDBReadForStaticFiles">
        <Arg>/${namespace}</Arg>
        <Arg>#{..Name}</Arg>
      </Invoke>
      <Invoke Class="AngularTemplate.Installer" Method="ApplySecurityChanges">
        <Arg>/${namespace}</Arg>
      </Invoke>
      <Invoke Class="AngularTemplate.Installer" Method="RemoveSecurityChanges" Phase="Unconfigure" />
      <LifecycleClass>pkg.isc.ipm.js.openApiModule</LifecycleClass>
      <Defaults>
        <ProcessorDefault Class="Default.Include">
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="Default.Class">
          <Attribute Name="FilenameExtension">cls</Attribute>
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="Default.Package">
          <Attribute Name="FilenameExtension">cls</Attribute>
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="UnitTest">
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
      </Defaults>
    </Module>
  </Document>
</Export>